.card-wrapper {
  box-shadow: 5px 4px 8px #203660;
  min-width: 250px;
  margin: 10px;
  min-height: 500px;
  border-radius: 10px;
  background-color: rgba($color: #FFF, $alpha: 0.2);
}
.card-wrapper:hover {
  box-shadow: 5px 4px 15px #203660;
  height: 100%;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 450px;
}
.card-avatar{
  position: relative;
  min-height: 200px;
  display: flex;
  justify-content: center;
}
.img-avatar {
  position: absolute;
  top: 3px;
  height: 100%;
  max-width: 500px;
  border-radius: 50%;
  box-shadow: 1px 1px 50px #00FFA5;
}
.card-title {
  font-family: 'Allerta Stencil', sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 3em;
}


// tab **************************************
#card-tab.card-wrapper {
  width: 70%;
  height: 100%;
  margin-right: 20%;
}
#card-tab.card-wrapper::after {
  background-image: asset-url("marco-up-small.jpg");
  background-size: auto 100%;
  background-position: right;
  background-repeat: no-repeat;
  content: "";
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
#card-tab.card-container {
}
.tabs {
  min-height: 200px;
  clear: both;
  margin: 25px 0;
  display: flex;
  justify-content: space-around;
  border-radius: 5px;
  margin: 5px 15px;
  position: relative;
  bottom: 10%;
}
.tab {
  float: left;
  margin-right: 15px;
}
.tab label {
  position: relative;
  left: 1px;
  padding: 10px;
  margin-left: -1px;
}
.tab [type=radio] {
  display: none;
}
.content {
  color: white;
  background: linear-gradient(90deg, rgba($color: rgb(10, 86, 129), $alpha: 1) 0%, rgba($color: rgb(4, 167, 153), $alpha: 1) 40%,rgba($color: rgb(4, 167, 153), $alpha: 1) 60%, rgba($color: rgb(10, 86, 129), $alpha: 1) 100%);
  position: absolute;
  top: 28px;
  left: 10%;
  right:10%;
  bottom: 0;
  border: none;
  margin-top: 15px;
  box-shadow: 3px -4px 12px rgb(6, 45, 68) inset;
  padding: 20px;
  border-radius: 5px;
  overflow-y: scroll;
}
[type=radio]:checked ~ label {
  background-color: rgba(10, 86, 129, 0.8);
  border: none;
  box-shadow: 2px 2px 10px #203660;
  border-radius: 20px;
  z-index: 2;
  color: #FFF;
  font-weight: bold;
}
[type=radio]:checked ~ label ~ .content {
  z-index: 1;
}
[type=radio] ~ label {
  background-color: rgba(4, 167, 153, 0.4);
  border: none;
  box-shadow: 2px 2px 10px #203660;
  border-radius: 20px;
}
[type=radio] ~ label:hover {
  box-shadow: 2px 5px 10px #0d2655;
}

//profil **************************************
#card-profil.card-wrapper {
  width: 20%;
  height: 100%;
}
#card-profil.img-avatar:hover {
  background-image: asset-url("bangbang.png");
  display: block;
  position: relative;
  z-index: 30;
}
#profil-content {
  text-align: justify;
  position: relative;
  bottom: 30px;
}
