header {
  position: relative;
  width: 100%;
  top: 0px;
  height: 300px;
  background-image: asset-url("header_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 30px;
}
#btn-wrapper {
  padding: 10px;
  margin-bottom: 30px;
}
#btn-work {
  margin: 3px;
  background-color: rgba(5, 141, 187, 0.7);
  border-radius: 30px;
  height: 50px;
  border: none;
  font-size: 1em;
  width: 175px;
  box-shadow: 2px 3px 10px #203660;
  text-transform: capitalize;
  color: rgb(7, 40, 63);
  font-weight: bold;
}
#btn-work:hover {
  color: rgb(5, 141, 187);
  background-color: white;
  font-weight: bold;
  border: rgb(143, 139, 139);
  box-shadow: 3px 5px 8px black;
  background-image: asset-url("antz.gif");
  background-size: cover;
  background-position: center;
}