nav {
  position: fixed;
  top: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  margin: 0px;
  color: white;
  font-family: 'Allerta Stencil', sans-serif;
  background: linear-gradient(90deg, rgba(37, 120, 184,0.5) 0%, rgba(80, 213, 251,0.5) 65%, rgba(255,255,255,0.5) 100%);
  box-shadow: 0px 3px 15px rgb(32, 54, 96);
  z-index: 30;
}
#nav-title{
  font-size: 2em;
  color: rgb(0, 255, 213);
}
nav ul {
  display: flex;
  margin: 5px 0px;
}
#img-logo {
  height: 50px;
  background: transparent;
}
nav li {
  display: flex;
  align-items: center;
}
// search bar ***********************************
#searchbar-wrapper {
  border-radius: 20px;
  align-items: center;
  margin-right: 50px;
}
#searchbar-container {
  border-radius: 20px;
  background-color: rgba(255,255,255,0.5);
  display: flex;
  align-items: center;
  height: 30px;
  padding: 0px 5px;
}
#img-button {
  height: 20px;
}
nav input[type=text] {
  border-radius: 20px;
  border: none;
  margin: 0px;
  background-color: rgba(255,255,255,0);
}
nav input[type=text]:focus {
  outline: none;
}
/*

nav input[type=text] {
  position: absolute;
  right: 0px;
  border-radius: 20px;
  border: none;
  width: 80%;
}
  
  width: 100px;-webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  
}

*/

// DROPDOWN MENU
#img-dropdown {
  height: 48px;
  border-radius: 50%;
  margin-bottom: 1px;
}
.dropbtn {
  height: 50px;
  border-radius: 50%;
  border: solid 2px white;
  background-color: rgba(0,0,0,0);
  cursor: pointer;
  padding: 0px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  justify-content: center;
  margin-right: 15px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 180, 165, 0.8);
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
    border-radius: 20px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius:inherit;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color:rgb(0, 255, 165)}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: rgba(0, 180, 165, 0.5);
}