/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html {
  margin: 0;
  padding: 0;
  height: 100%
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
#body-content {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flew-direction: row;
  justify-content: space-between;
  background: linear-gradient(90deg, rgba($color: #00c3ff, $alpha: 0.3) 0%, rgba($color: #ffff1c, $alpha: 0.3) 35%, rgba($color: #ffff1c, $alpha: 0.3) 65%, rgba($color: #00c3ff, $alpha: 0.3) 100%);
  position: relative;
}