<div id="body-content">
  <div class="card-wrapper" id="card-profil">
    <div class="card-container">
      <div class="card-header">
      <div class="card-avatar">
        <%= image_tag "ant-profil.jpg", class: "img-avatar" %>
      </div>
      </div>
      <div class="card-content">
        <p class="card-title">marco</p>
        <div id="profil-content">
          <ul>
            <li>age    |  96 days</li>
            <li>job    |  nurse</li>
            <li>rating |  10568 antzies</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="card-wrapper" id="card-tab">
    <div class="card-container">
      <div class="card-content">
        <p class="card-title">greatest achievments</p>
          <div class="tabs">
            <div class="tab">
                <input type="radio" id="tab-1" name="tab-group-1" checked>
                <label for="tab-1">Tab One</label>
                <div class="content">
                  <h3>How do ants find food?</h3>
                  <p>
                    Worker ants, or scouts, will leave their nest (colony) in search of food. When they do so, they lay down pheromones or chemicals in order to find their way back to the nest. They will walk quite far from their nests in some cases, using their antennae or other senses to find a suitable food source. Once they find a food source, they lay down more chemicals which the rest of the colony will use to make their way back to that food source until that source is depleted. Ants follow the pheromone trail using their antennae, which will feel along the ground to sense the chemicals. This can be a very long, slow process for the ants.
                  </p>
                </div>
            </div>
            <div class="tab">
                <input type="radio" id="tab-2" name="tab-group-1">
                <label for="tab-2">Tab Two</label>
                <div class="content">
                  <h3>Do ants rest?</h3>
                  <p>
                    Ants actually do sleep. Queen ants may sleep the longest at one time since they are buried within the nest and lay eggs constantly. The workers and scouts, however, are constantly moving around and looking for food. This causes them to use up a tremendous amount of energy and they will take potentially hundreds of short naps during the course of the day to rebuild their energy. Of course, these ants also seek out high protein or sugary foods to build up their energy as well.
                  </p>
                  <p>
                    This imbalance in activity and energy may also account for the fact that queen ants can live for years, but worker ants tend to burn out and die after about a year.
                  </p>
                </div>
            </div>
                <div class="tab">
                <input type="radio" id="tab-3" name="tab-group-1">
                <label for="tab-3">Tab Three</label>
                <div class="content">
                  <h3>How do ants mate?</h3>
                  <p>
                    Only queen ants lay eggs. Queen ants will engage in an initial “nuptial flight” with several males. The males will lay down sperm cells which the queen harvests and keeps with her. The queen ant, once established within a new colony, begins to lay eggs constantly. She is tended to by the other ants who provide her with food and remove waste. These worker ants also communicate the needs of the colony to the queen and she will either allow the eggs to be fertilized or not. The eggs that get fertilized will become female worker ants while unfertilized eggs become males.
                  </p>
                  <p>
                    There is even a species of ant, Cataglyphis cursor, which reproduced asexually. The queen lays eggs which contain, essentially, clones of the queen. The embryos grow within the eggs without needing to be fertilized. All of the subsequent offspring are females. It is a process known as parthenogenesis.
                  </p>
                </div>
            </div>
      </div>
    </div>
  </div>
</div>
