<div id="body-content">
  <div class="card-wrapper" id="card-profil">
    <div class="card-container">
      <div class="card-header">
      <div class="card-avatar">
        <%= image_tag "ant-profil.jpeg", class: "img-avatar" %>
      </div>
      </div>
      <div class="card-content">
        <p class="card-title">marco</p>
        <div>qdslkfjqsdmofkqmsdf</div>
      </div>
    </div>
  </div>

  <div class="card-wrapper" id="card-tab">
    <div class="card-container">
      <div class="card-content">
        <p class="card-title">greatest achievments</p>
          <div class="tabs">
            <div class="tab">
                <input type="radio" id="tab-1" name="tab-group-1" checked>
                <label for="tab-1">Tab One</label>
                <div class="content">
                    stuff 1
                </div>
            </div>
            <div class="tab">
                <input type="radio" id="tab-2" name="tab-group-1">
                <label for="tab-2">Tab Two</label>
                <div class="content">
                    stuff 2
                </div>
            </div>
                <div class="tab">
                <input type="radio" id="tab-3" name="tab-group-1">
                <label for="tab-3">Tab Three</label>
                <div class="content">
                    stuff 3
                </div>
            </div>
      </div>
    </div>
  </div>
</div>

