

<div id="footer-wrapper">
<footer>
  <ul>
    <li><a href="mentions_legales.html">mentions legales</li>
    <li>|</li>
    <li><a href="contacts.html">contacts</li>
  </ul>
  <ul>
    <li><a href="https://twitter.com/?lang=fr"><img class="img-social-network" src="images/logo_twitter.svg.png"></a></li>
    <li><a href="https://www.instagram.com/?hl=fr"><img class="img-social-network" src="images/logo_facebook.svg"></a></li>
    <li><a href="https://www.facebook.com/"><img class="img-social-network" src="images/logo_instagram.svg.png"></a></li>
  </ul>
</footer>
</div>
