

<div id="footer-wrapper">
<footer>
  <ul>
    <li><a href="https://www.terminix.com/blog/education/what-is-an-ant-colony/" target="_blank">mentions legales</li>
    <li>|</li>
    <li><a href="http://discovermagazine.com/2003/nov/the-secret-life-of-ants" target="_blank">contacts</li>
  </ul>
</footer>
</div>
