<header>
  <nav>
    <div class="">
      <ul>
          <li><%= image_tag "ant-logo.svg", id: 'img-logo' %></li>
          <li id="nav-title">antzies</li>
      </ul>
    </div>
    <div id="searchbar-wrapper">
      <div id="searchbar-container">
        <%= image_tag "ant-button.png" , id: "img-button", type: 'submit' %>
        <input type="text" placeholder="Search for co-antz.." >
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn"> <%= image_tag "ant-dropdown.png", id: "img-dropdown" %> </button>
      <div class="dropdown-content">
        <a href="https://giphy.com/gifs/rick-pickle-9zXWAIcr6jycE/fullscreen" target="_blank">Colony</a>
        <a href="https://giphy.com/gifs/rick-and-morty-adult-swim-sanchez-ZqRtyissUQdPi/fullscreen" target="_blank">Co-Antz</a>
        <a href="https://giphy.com/gifs/rickandmorty-adult-swim-rick-and-morty-02x06-3o85xuO1siCT147FrG/fullscreen" target="_blank">Queen</a>
      </div>
    </div>
  </nav>

  <div id="btn-wrapper">
    <button id="btn-work">work with marco</button>
  </div>

</header>